
<main-menu [title]="'Get top tracks'">
  <div description>
    <span class="font-weight-bold">Description:</span> paste artist(s) and/or album(s) and this application will add the most popular tracks to the chosen playlist.<br>
    <span class="font-weight-bold">Use case:</span> Suppose you are looking for new songs/artists/albums,
    if you receive single song recommendations, you simply listen to it and that's it.
    Now let's suppose you receive the recommendation of jeff wayne's musical version of the war of the worlds
    which is 94:54 long, or you have a large number of artists to listen to see if you like it or not.
    Therefore using this application you can quickly filter on the most popular tracks to listen to.
  </div>

  <div class="row justify-content-center">
    <h3> <a href="https://gettoptracks.herokuapp.com" target="_blank">Click here to access</a></h3>
  </div>
</main-menu>
