<ng-template [ngIf]="!(signedin$ | async)" [ngIfElse]="loggedin">
  <div class="container-fluid h-80">
    <square></square>
  </div>
</ng-template>

<ng-template #loggedin>
  <!--  <div class="main-container">-->
  <!--  </div>-->

  <div class="container-fluid h-80">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3 col-xl-3 pr-1 sidebar-border">
        <side-menu></side-menu>
      </div>
      <div class="col-12 col-sm-8 col-md-9 col-xl-9 p-0">
        <loader></loader>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
