
.btn-authorize{
  border-color: var(--color1);
}
.btn-authorize:hover {
  background-color: var(--color1)!important;
  border-color: var(--color1);
}
/*-----------------------------------------*/
.block-style {
  display: none;
  border: none;
}

.square {
  width: 50vh;
  height: 50vh;
  /*background-color: #351e29;*/
}
/*.square a{  text-decoration: underline;}*/
/*.square:after {*/
/*  content: "";*/
/*  display: block;*/
/*  padding-bottom: 100%;}*/
/*.square:hover{background-color: #1c0e17 !important;}*/

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
