<footer class="footer bg-1 py-3 ">
  <div class="container-fluid text-center text-3">
<!--    TODO change URL -->
    <p class=""> Find more information and source code at: <a href="https://github.com/sylleryum/getTopTracks">https://github.com/sylleryum/getTopTracks</a>
    </p>
    <div class="row justify-content-center">
      <div class="">
        powered by:
      </div>
      <div class="col-6 col-md-3">
        <img src="../../../assets/Spotify_Logo_RGB_Green.png" alt="Spotify Logo" class="img-fluid"/>
      </div>
    </div>
  </div>
</footer>
